* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.login-box {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

.login-box button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #1e40af;
}

.error {
    background: rgba(255, 0, 0, 0.25);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    opacity: 0.8;
}

.wrapper {
    display: flex;
    height: 100%;
}


.sidebar {
    width: 250px;
    background-color: #1f1f2e;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    height: 100%;
    position: fixed;
    left: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: 0.3s;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #343454;
    border-left: 4px solid #00bcd4;
}
/* for player */
.btn_in{
    text-decoration: none;
    background:linear-gradient(135deg, rgb(137, 17, 197),rgba(244, 4, 172, 0.865)); 
    color: white;
    padding: 3px 3px;
    border-radius: 6px;



}
/* bottom admin profile  */
.admin_profile{
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #524d6f;
    display: flex;
    align-items: center;
    gap: 12px;
}



.admin_avatar {
    width: 40px;
    height: 40px;
    background: #3b82f6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 13px;
    flex-shrink: 0;
    cursor: pointer;
}

/* .profile_content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */

.name {
    color: white;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.email {
    color: #94a3b8;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.main {
    margin-left: 250px;
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
}

.header {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header h3 {
    margin: 0;
    width: 100%;
    font-size: 22px;
    color: #333;
}

.admin-name {
    font-weight: bold;
    color: #555;
}

.main-content {
    flex: 1;
    margin: 0;
}


@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .sidebar a {
        font-size: 14px;
    }

    .header h3 {
        font-size: 18px;
    }

    .main {
        margin-left: 200px;
    }
}
.container_card {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-bottom: 20px; */
    gap: 20px;
    padding: 20px;
    background-color: #0f0a19;
}

.dashboard_card {
    background-color: #1e1b2e;
    border-radius: 16px;
    padding: 24px;
    position: relative;
    border: 1px solid #2d2a3e;
    color: white;
    font-family: 'Inter', sans-serif;
    min-height: 120px;
}
.stat{
    font-size: 14px;
    margin: 0;
    color: #a3b0bf;

}

.dashboard_card h4 {
    color: #b7d3fb;
    font-size: 18px;
    margin: 0 0 8px 0;
    font-weight: 400;
}

.dashboard_card h2 {
    font-size: 28px;
    margin: 0 0 10px 0;
    font-weight: 700;
}

.dashboard_card .span, 
.dashboard_card .span3 {
    font-size: 14px;
    font-weight: 600;
}

.dashboard_card .span { 
    color: #22c55e; 
}

.dashboard_card .span3 { 
    color: #ef4444; 
}

[class^="icon"] {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.icon1 { 
    background:linear-gradient(135deg, rgb(137, 17, 197),rgba(244, 4, 172, 0.865)); 
    color: #fcf9ff; 
    border: 1px solid rgba(201, 26, 166, 0.2);

}

.icon2 {  
    background:linear-gradient(135deg, #0766ff,#0dbbf0); 
    color: #fcf9ff; 
    border: 1px solid rgba(59, 13, 198, 0.2);
   
}

.icon3 { 
    background:linear-gradient(135deg, rgb(0, 245, 90),rgba(84, 255, 147, 0.997)); 
    color: #ffffff; 
    border: 1px solid rgba(201, 26, 166, 0.2); 
    
}

.icon4 { 
    background: rgba(249, 115, 22, 0.2); 
    color: #f0e8e2; 
    background:linear-gradient(135deg, #ff2a00,#de3c06); 
    border: 1px solid rgba(239, 154, 16, 0.2);
}

@media (max-width: 1200px) {
    .container_card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container_card {
        grid-template-columns: 1fr;
    }
}



