footer {
    background: transparent;
    display: flex;
    color: white;
    justify-content: center;
    padding: 40px 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 30px rgba(169, 160, 160, 0.5);
    border-color: gray;
    font-size: large;
    margin-top: auto;
}